misc/flows.json
[{"id":"6d26fab5.ceec24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"254af447.4126dc","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"NE","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":120,"wires":[["e05eeace.145548","932c13b0.eaf1c"]]},{"id":"b0108622.c93298","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"SE","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":220,"wires":[["3884ea59.1ce006","a07bf54a.fbe9d8"]]},{"id":"a2f5fc48.7523a","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"SW","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":320,"wires":[["de4bcd4a.8a68c","37c24b6.2d411b4"]]},{"id":"bf2270b8.b9ffc","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"NW","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":420,"wires":[["14809a42.6df086","aa35424a.635e1"]]},{"id":"66b820b1.7a0f5","type":"chartjs-line","z":"6d26fab5.ceec24","name":"NE","path":"NE","charttitle":"NE","xaxis":"time","yaxis":"throttle","x":780,"y":120,"wires":[[]]},{"id":"a3680893.d38418","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"X","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":620,"wires":[["e7a3e08f.5bde9","15dd4600.70cb7a"]]},{"id":"e05eeace.145548","type":"function","z":"6d26fab5.ceec24","name":"","func":"var data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\n\nif(data.length > 1000)\n    data.shift()\n\ncontext.set(\"data\", data);\n\n\nreturn {payload:{\n    \"channel\": \"NE\",\n    \"color\": \"Green\",\n    \"dataset\": data\n}};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["66b820b1.7a0f5"]]},{"id":"3884ea59.1ce006","type":"function","z":"6d26fab5.ceec24","name":"","func":"\nvar data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\ncontext.set(\"data\", data);\n\nif(data.length > 1000)\n    data.shift()\n\nreturn {payload:{\n    \"channel\": \"SE\",\n    \"color\": \"Blue\",\n    \"dataset\": data\n}};\n\n/*[\n        {\n            \"x\": \"Europe\",\n            \"y\": 741\n        },\n        {\n            \"x\": \"Australia\",\n            \"y\": 24\n        },\n        {\n            \"x\": \"Africa\",\n            \"y\": 1.2\n        },\n        {\n            \"x\": \"America\",\n            \"y\": 325\n        },\n        {\n            \"x\": \"Asia\",\n            \"y\": 4.4\n        }\n    ]*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["eee7d74b.d52428"]]},{"id":"eee7d74b.d52428","type":"chartjs-line","z":"6d26fab5.ceec24","name":"SE","path":"SE","charttitle":"SE","xaxis":"time","yaxis":"throttle","x":790,"y":220,"wires":[[]]},{"id":"ea0a758f.da5518","type":"chartjs-line","z":"6d26fab5.ceec24","name":"SW","path":"SW","charttitle":"SW","xaxis":"time","yaxis":"throttle","x":790,"y":320,"wires":[[]]},{"id":"de4bcd4a.8a68c","type":"function","z":"6d26fab5.ceec24","name":"","func":"\nvar data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\ncontext.set(\"data\", data);\n\nif(data.length > 1000)\n    data.shift()\n\nreturn {payload:{\n    \"channel\": \"SW\",\n    \"color\": \"Red\",\n    \"dataset\": data\n}};\n\n/*[\n        {\n            \"x\": \"Europe\",\n            \"y\": 741\n        },\n        {\n            \"x\": \"Australia\",\n            \"y\": 24\n        },\n        {\n            \"x\": \"Africa\",\n            \"y\": 1.2\n        },\n        {\n            \"x\": \"America\",\n            \"y\": 325\n        },\n        {\n            \"x\": \"Asia\",\n            \"y\": 4.4\n        }\n    ]*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[["ea0a758f.da5518"]]},{"id":"14809a42.6df086","type":"function","z":"6d26fab5.ceec24","name":"","func":"\nvar data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\ncontext.set(\"data\", data);\n\nif(data.length > 1000)\n    data.shift()\n\nreturn {payload:{\n    \"channel\": \"NW\",\n    \"color\": \"Black\",\n    \"dataset\": data\n}};\n\n/*[\n        {\n            \"x\": \"Europe\",\n            \"y\": 741\n        },\n        {\n            \"x\": \"Australia\",\n            \"y\": 24\n        },\n        {\n            \"x\": \"Africa\",\n            \"y\": 1.2\n        },\n        {\n            \"x\": \"America\",\n            \"y\": 325\n        },\n        {\n            \"x\": \"Asia\",\n            \"y\": 4.4\n        }\n    ]*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":420,"wires":[["5d029930.3653e8"]]},{"id":"5d029930.3653e8","type":"chartjs-line","z":"6d26fab5.ceec24","name":"NW","path":"NW","charttitle":"NW","xaxis":"time","yaxis":"throttle","x":790,"y":420,"wires":[[]]},{"id":"c188d63f.e1df28","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"Y","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":720,"wires":[["744301a6.cd45f","50d26d15.a0e704"]]},{"id":"40c076dd.8c5ee8","type":"chartjs-line","z":"6d26fab5.ceec24","name":"X","path":"X","charttitle":"X","xaxis":"time","yaxis":"throttle","x":790,"y":620,"wires":[[]]},{"id":"e7a3e08f.5bde9","type":"function","z":"6d26fab5.ceec24","name":"","func":"\nvar data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\ncontext.set(\"data\", data);\n\nif(data.length > 1000)\n    data.shift()\n\nreturn {payload:{\n    \"channel\": \"X\",\n    \"color\": \"Red\",\n    \"dataset\": data\n}};\n\n/*[\n        {\n            \"x\": \"Europe\",\n            \"y\": 741\n        },\n        {\n            \"x\": \"Australia\",\n            \"y\": 24\n        },\n        {\n            \"x\": \"Africa\",\n            \"y\": 1.2\n        },\n        {\n            \"x\": \"America\",\n            \"y\": 325\n        },\n        {\n            \"x\": \"Asia\",\n            \"y\": 4.4\n        }\n    ]*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":620,"wires":[["40c076dd.8c5ee8"]]},{"id":"744301a6.cd45f","type":"function","z":"6d26fab5.ceec24","name":"","func":"\nvar data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\ncontext.set(\"data\", data);\n\nif(data.length > 1000)\n    data.shift()\n\nreturn {payload:{\n    \"channel\": \"Y\",\n    \"color\": \"Green\",\n    \"dataset\": data\n}};\n\n/*[\n        {\n            \"x\": \"Europe\",\n            \"y\": 741\n        },\n        {\n            \"x\": \"Australia\",\n            \"y\": 24\n        },\n        {\n            \"x\": \"Africa\",\n            \"y\": 1.2\n        },\n        {\n            \"x\": \"America\",\n            \"y\": 325\n        },\n        {\n            \"x\": \"Asia\",\n            \"y\": 4.4\n        }\n    ]*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":720,"wires":[["c2dafca2.b1cdc"]]},{"id":"c2dafca2.b1cdc","type":"chartjs-line","z":"6d26fab5.ceec24","name":"Y","path":"Y","charttitle":"Y","xaxis":"time","yaxis":"throttle","x":790,"y":720,"wires":[[]]},{"id":"bc646671.30e0a8","type":"inject","z":"6d26fab5.ceec24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":900,"wires":[["1a4eba0f.7fe7f6"]]},{"id":"1a4eba0f.7fe7f6","type":"mqtt out","z":"6d26fab5.ceec24","name":"","topic":"enable-output","qos":"","retain":"","broker":"3a1efcf7.4325b4","x":480,"y":900,"wires":[]},{"id":"eb013329.883f2","type":"inject","z":"6d26fab5.ceec24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"str","x":270,"y":960,"wires":[["2a88abb1.db5c94"]]},{"id":"2a88abb1.db5c94","type":"mqtt out","z":"6d26fab5.ceec24","name":"","topic":"orientation-p","qos":"2","retain":"false","broker":"3a1efcf7.4325b4","x":470,"y":960,"wires":[]},{"id":"d17fea22.1aa4f8","type":"inject","z":"6d26fab5.ceec24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":270,"y":1020,"wires":[["74cf92b3.e845cc"]]},{"id":"52084f5d.c655e","type":"inject","z":"6d26fab5.ceec24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.05","payloadType":"str","x":270,"y":1080,"wires":[["3f9166ad.852fda"]]},{"id":"74cf92b3.e845cc","type":"mqtt out","z":"6d26fab5.ceec24","name":"","topic":"orientation-i","qos":"2","retain":"false","broker":"3a1efcf7.4325b4","x":470,"y":1020,"wires":[]},{"id":"3f9166ad.852fda","type":"mqtt out","z":"6d26fab5.ceec24","name":"","topic":"orientation-d","qos":"2","retain":"false","broker":"3a1efcf7.4325b4","x":470,"y":1080,"wires":[]},{"id":"43b0a524.7edcfc","type":"mqtt out","z":"6d26fab5.ceec24","name":"","topic":"get-pid-param-send","qos":"2","retain":"false","broker":"3a1efcf7.4325b4","x":490,"y":1260,"wires":[]},{"id":"c28a8e73.a8fff","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"get-pid-param-receive","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":720,"y":1260,"wires":[["6651b7db.951048"]]},{"id":"6651b7db.951048","type":"debug","z":"6d26fab5.ceec24","name":"DebugChartJS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":1260,"wires":[]},{"id":"7e3739e8.316fa8","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"HPID","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":520,"wires":[["779e6118.5ec8","402b26cd.6313c8"]]},{"id":"779e6118.5ec8","type":"function","z":"6d26fab5.ceec24","name":"","func":"\nvar data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\ncontext.set(\"data\", data);\n\nif(data.length > 1000)\n    data.shift()\n\nreturn {payload:{\n    \"channel\": \"HPID\",\n    \"color\": \"Orange\",\n    \"dataset\": data\n}};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":520,"wires":[["8617e00f.a7ac7"]]},{"id":"2cebe17.ccf591e","type":"chartjs-line","z":"6d26fab5.ceec24","name":"H","path":"H","charttitle":"H","xaxis":"time","yaxis":"throttle","x":790,"y":820,"wires":[[]]},{"id":"932c13b0.eaf1c","type":"debug","z":"6d26fab5.ceec24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"a07bf54a.fbe9d8","type":"debug","z":"6d26fab5.ceec24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"37c24b6.2d411b4","type":"debug","z":"6d26fab5.ceec24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"aa35424a.635e1","type":"debug","z":"6d26fab5.ceec24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"402b26cd.6313c8","type":"debug","z":"6d26fab5.ceec24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"15dd4600.70cb7a","type":"debug","z":"6d26fab5.ceec24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":580,"wires":[]},{"id":"50d26d15.a0e704","type":"debug","z":"6d26fab5.ceec24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":680,"wires":[]},{"id":"ea0ae515.630ad8","type":"inject","z":"6d26fab5.ceec24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":270,"y":1140,"wires":[["82913eed.776a6"]]},{"id":"82913eed.776a6","type":"mqtt out","z":"6d26fab5.ceec24","name":"","topic":"height-p","qos":"2","retain":"false","broker":"3a1efcf7.4325b4","x":460,"y":1140,"wires":[]},{"id":"49ae5a43.21bd44","type":"inject","z":"6d26fab5.ceec24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":270,"y":1200,"wires":[["90444ab7.6652d8"]]},{"id":"90444ab7.6652d8","type":"mqtt out","z":"6d26fab5.ceec24","name":"","topic":"height-i","qos":"2","retain":"false","broker":"3a1efcf7.4325b4","x":460,"y":1200,"wires":[]},{"id":"ae0a659c.28f868","type":"mqtt in","z":"6d26fab5.ceec24","name":"","topic":"H","qos":"0","datatype":"auto","broker":"3a1efcf7.4325b4","x":430,"y":820,"wires":[["2f8b2775.ae1238","ab8e2604.79dcf8"]]},{"id":"2f8b2775.ae1238","type":"function","z":"6d26fab5.ceec24","name":"","func":"\nvar data =  context.get(\"data\") || [{\"x\":0, \"y\":msg.payload}];\ndata.push({\"x\":data[data.length - 1].x+1, \"y\":msg.payload})\ncontext.set(\"data\", data);\n\nif(data.length > 1000)\n    data.shift()\n\nreturn {payload:{\n    \"channel\": \"H\",\n    \"color\": \"Orange\",\n    \"dataset\": data\n}};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":820,"wires":[["2cebe17.ccf591e"]]},{"id":"8617e00f.a7ac7","type":"chartjs-line","z":"6d26fab5.ceec24","name":"HPID","path":"HPID","charttitle":"HPID","xaxis":"time","yaxis":"throttle","x":790,"y":520,"wires":[[]]},{"id":"ab8e2604.79dcf8","type":"debug","z":"6d26fab5.ceec24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":780,"wires":[]},{"id":"2aac2f9d.d5ba7","type":"inject","z":"6d26fab5.ceec24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1260,"wires":[["43b0a524.7edcfc"]]},{"id":"3a1efcf7.4325b4","type":"mqtt-broker","z":"","name":"Noa-ubuntu","broker":"192.168.1.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]